<%- include("./partials/top.ejs") %>

    <div class="app-container">
        <form method="post" class="frm">
            <input type="text" class="location-input" id="location" placeholder="Enter Location Here...">
            <button type="submit" class="submit-btn" formaction="/location-info">Search</button>
        </form>

        <div class="output-container">
            <img>
        </div>
    </div>

<%- include("./partials/bottom.ejs") %>