:root {
    font-size: 18px;
}

* {
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

main {
    width: 100%;
    height: 100%;
}

h1 {
    color: #FF8A00;
}

.app-container {
    max-width: 390px;
    height: 35.77rem;
    margin: 10% auto;
    padding: 8px;
    background-color: #fff;
    border-radius: 20px;
    border: 5px solid #FF8A00;
}

.location-input {
    width: 65%;
    height: 2.66rem;
    padding: 0.88rem 0.44rem;
    border-radius: 8px;
    color: #828282;
    border: none;
    box-shadow: none;
}

.location-input:focus {
    color: #FF8A00;
}

.btn {
    background-color: #FF4D00;
    color: #fff;
    width: 35%;
    height: 2.66rem;
    border: none;
    border-radius: 8px;
}

.btn:hover {
    background-color: #FF8A00;
    cursor: pointer;
}

.toggle {
    margin-top: 0.5rem;
    width: 100%;
}

.unit-select {
    width: 100%;
    height: 2.66rem;
    margin-top: 0.5rem;
    padding: 0.88rem 0.44rem;
    border-radius: 8px;
    color: #fff;
    background-color: #FF4D00;
    border: none;
}

.unit-select:hover {
    background-color: #FF8A00;
}

.frm {
    width: 100%;
}

.frm-top {
    display: flex;
    gap: 0.22rem;
}

.output {
    display: flex;
    margin-top: 20px;
    justify-content: space-evenly;
    
    width: 100%;
}

.output-text {
    color: #FF8A00;
    font-size: 20px;
}

.min {
    margin-left: -2rem;
}

.max {
    margin-left: 0;
}

.output-img {
    width: 25%;
    margin: 0 2rem;
} 

.img-special {
    
}

.thermometer {
    margin: 0 0;
    margin-left: -1.6rem;

}

.description {
    width: 75%;
    display: flex;
    justify-content: space-evenly;
}

.description-text {
    color: #FF8A00;
    margin-right: -2rem;
}

hr {
    border: 2px solid #FF8A00;
    margin-bottom: 2rem;
}

.hr-bottom {
    margin-top: 2rem;
    margin-bottom: 0;
}

.temp {
    font-size: 16px;
}